<!DOCTYPE html>
<html>
	<head>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/dashboard.css" rel="stylesheet">
		<link href="/css/datetimepicker.css" rel="stylesheet">
	</head>
	<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">纸巾TV管理后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div class="list-group">
            <b class="list-group-item disabled">房间管理</b>
            <a class="list-group-item" href="/room/create">创建房间</a>
            <a class="list-group-item" href="/room/list">房间列表</a>
          </div>
          <div class="list-group">
            <b class="list-group-item disabled">节目管理</b>
            <a class="list-group-item" href="/program/create">创建节目</a>
            <a class="list-group-item" href="/program/list">节目列表</a>
          </div>
          <div class="list-group">
            <b class="list-group-item disabled">分期管理</b>
            <a class="list-group-item" href="/episode/create">创建分期</a>
            <a class="list-group-item" href="/episode/list">分期列表</a>
          </div>
          <div class="list-group">
            <b class="list-group-item disabled">道具管理</b>
            <a class="list-group-item" href="/prop/create">创建道具</a>
          </div> 
          <div class="list-group">
            <b class="list-group-item disabled">互动管理</b>
            <a class="list-group-item" href="/interaction/list">互动列表</a>
          </div>
          <div class="list-group">
            <b class="list-group-item disabled">选手管理</b>
            <a class="list-group-item" href="/actor/list">选手列表</a>
            <a class="list-group-item" href="/actor/create">创建选手</a>
          </div>    

        </div>  
