<% include ../header.html %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">房间管理&nbsp;>&nbsp;创建房间</h4>       
          <% if(result.error){ %>
            <div class="alert alert-danger" role="alert">
              <strong><%- result.error %></strong>
            </div>
          <% } %>

          <% if(result.success){ %>
            <div class="alert alert-success" role="alert">
              <strong><%- result.success %></strong>
            </div>
          <% } %>
          <div class="row placeholders">
            <form class="form-horizontal" method="post" action="/room/doCreate">
              <%- createForm %>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                  <button type="submit" class="form-control btn btn-primary">创建房间</button>
                </div>
              </div>
            </form>            
          </div>
        </div>   
<% include ../footer.html %>