<% include ../header.html %>
<style type="text/css">
td{
  text-align: left;
}
</style>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">房间管理&nbsp;>&nbsp;房间列表&nbsp;>&nbsp;房间详情</h4>
          <div class="row placeholders" style="text-align:left">
            <a href="/room/edit?id=<%-room.id %>" class="btn btn-primary">编辑</a>
            <a href="/room/interaction?id=<%-room.id %>" class="btn btn-primary">房间互动管理</a>
            <a href="/room/delete?id=<%-room.id %>" class="btn btn-danger">删除房间</a>
          </div>
          <div class="row placeholders">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th class="col-sm-3">房间名称：</th><td><%- room.name %></td>
                </tr>
                <tr>
                  <th>房间类型：</th><td><%- room.type=='individual' ? "个人房间" : "官方房间" %></td>
                </tr>
                <tr>
                  <th>房间状态：</th><td><%- room.status=='playing' ? "正在播放" : "暂停播放" %></td>
                </tr>
                <tr>
                  <th>码流地址：</th><td><%- room.stream %></td>
                </tr>                
                <tr>
                  <th>所属节目：</th><td><%- room.episode&&room.episode.program ? room.episode.program.name : '未选择节目' %></td>
                </tr>
                <tr>
                  <th>当前分期：</th><td><%- room.episode&&room.episode.name ? room.episode.name : '未选择分期' %></td>
                </tr>
                <tr>
                  <th>当前选手：</th>
                  <td>
                    <%  
                      if(room.actors){
                        for(var i=0;i<room.actors.length;i++){
                    %>
                      <a href="#" class="label label-info"><%-room.actors[i].name %></a>
                    <% }} %>
                  </td>
                </tr>
                <tr>
                  <th>互动道具：</th>
                  <td>
                      <%  
                        if(room.props){
                          for(var i=0;i<room.props.length;i++){
                      %>                        
                      <a href="#" class="label label-warning"><%-room.props[i].name %></a>
                      <% }} %>                    
                  </td>
                </tr>                       
              </tbody>
            </table>       
          </div>
        </div>   
<% include ../footer.html %>