<% include ../header.html %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">房间管理&nbsp;>&nbsp;房间列表</h4>

          <div class="row placeholders">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>房间名称</th>
                  <th>房间类型</th>
                  <th>房间状态</th>
                  <th>当前分期</th>
                  <th>所属节目</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < list.length; i++ ){ %>
                    <tr>
                      <td><%- list[i].name %></td>
                      <td><%- list[i].type=='individual' ? "个人房间" : "官方房间"%></td>
                      <td><%- list[i].status %></td>
                      <td><%- list[i].episode&&list[i].episode.name?list[i].episode.name:'' %></td>
                      <td><%- list[i].episode&&list[i].episode.program?list[i].episode.program.name:'' %></td>
                      <td><a href="/room/detail?id=<%- list[i].id %>">房间详情</a></td>
                    </tr>
                <% } %>
              </tbody>
            </table>       
          </div>
        </div>   
<% include ../footer.html %>