body{
	background-color: #eaeaea;
}
.wqhk-wrapper{
	margin: 0 0 0 260px;
	position: relative;
}
.wqhk-main{
	width: 980px;
	margin: 0 auto;
}
.wqhk-jumbotron{
	width: 100%;
	height: 360px;
	background-color: pink;
}
.wqhk-content{
	width: 860px;
	margin: 0 auto;
	background-color: #ffffff;
}
.wqhk-titles{
	font-size: 14px;
	height: 50px;
}
.wqhk > ul > li{
	width: 80px;
	height: 50px;
}
