<% include ../header.html %>
  <link rel="stylesheet" href="/css/fileUpload/style.css">
  <link rel="stylesheet" href="/css/fileUpload/jquery.fileupload.css">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">选手管理&nbsp;>&nbsp;创建选手</h4>
          <% if(result.error){ %>
            <div class="alert alert-danger" role="alert">
              <strong><%- result.error %></strong>
            </div>
          <% } %>

          <% if(result.success){ %>
            <div class="alert alert-success" role="alert">
              <strong><%- result.success %></strong>
            </div>
          <% } %>
          <div class="row placeholders" class="form-horizontal">
            <form class="form-horizontal" action="/actor/doCreate" method="post">
              <%- form %>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                  <button type="submit" class="btn btn-primary form-control">创建选手</button>
                </div>
              </div>
            </form>
          </div>
        </div>

<% include ../footer.html %>
<script src="/js/fileUpload/vendor/jquery.ui.widget.js"></script>
<script src="/js/fileUpload/jquery.iframe-transport.js"></script>
<script src="/js/fileUpload/jquery.fileupload.js"></script>
<script type="text/javascript">
var uploadUrl = "http://localhost:8888/files/";
$('#fileupload').fileupload({
  url: uploadUrl,
  dataType: 'json',
  done: function (e, data) {
    $.each(data.result.files, function (index, file) {
      //$('<p/>').text(file.name).appendTo('#files');
      //$('#result').text('上传成功！');
      $('#avatar').val(file.url);
    });
  },
  progressall: function (e, data) {
  var progress = parseInt(data.loaded / data.total * 100, 10);
    $('#progress .progress-bar').css(
      'width',
      progress + '%'
    );
  }
}).prop('disabled', !$.support.fileInput)
    .parent().addClass($.support.fileInput ? undefined : 'disabled');
</script>