<% include ../header.html %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">选手管理&nbsp;>&nbsp;创建选手</h4>       
          <% if(result.error){ %>
            <div class="alert alert-danger" role="alert">
              <strong><%- result.error %></strong>
            </div>
          <% } %>

          <% if(result.success){ %>
            <div class="alert alert-success" role="alert">
              <strong><%- result.success %></strong>
            </div>
          <% } %>

          <div class="row placeholders" class="form-horizontal">
            <form class="form-horizontal" action="/actor/doCreate" method="post">
              <%- form %>
              <%- actorImg %>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                  <button type="submit" class="btn btn-primary">创建选手</button>
                </div>
              </div>
            </form>
          </div>
        </div>

<% include ../footer.html %>
<script type="text/javascript">
function upload(id, url){
  var data = new FormData()
  var files = $('#'+id)[0].files;
  if (files) {
    data.append("file", files[0]);
    $.ajax({
          type: 'post',
          dataType: 'json',
          url: '/common/upload',
          data: data,
          contentType: false,
          processData: false,
          complete: function(data){
            if(data.status==200){
              //alert(data.responseText);
              $('#'+url).attr('src',data.responseText);
            }
            else{
              alert("文件上传失败2！");
            }
          }
        })    
  } else {
    alert("文件上传失败1！");
  }
}
</script>