<% include ../header.html %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">道具管理&nbsp;>&nbsp;开启互动</h3>       
          <% if(result.error){ %>
            <div class="alert alert-danger" role="alert">
              <strong><%- result.error %></strong>
            </div>
          <% } %>

          <% if(result.success){ %>
            <div class="alert alert-success" role="alert">
              <strong><%- result.success %></strong>
            </div>
          <% } %>

          <div class="row placeholders">
            <form class="form-horizontal" action="/prop/doCreate" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">选择房间：</label>
                    <div class="col-sm-4">
                      <select class="form-control" name="type">
                        <option value="vote">投票</option>
                        <option value="privilege">权限</option>
                      </select>
                    </div>
                  </div>                  


                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                      <button type="submit" class="btn btn-default btn-primary">创建道具</button>
                    </div>
                  </div>
                </form>            
          </div>
        </div>   
<% include ../footer.html %>