<% include ../header.html %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">互动道具管理&nbsp;>&nbsp;互动列表</h3>

          <div class="row placeholders">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>房间名称</th>
                  <th>道具名称</th>
                  <th>道具类型</th>
                  <th>互动状态</th>
                  <th>开启时间</th>
                  <th>结束时间</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < list.length; i++ ){ %>
                    <tr>
                    </tr>
                <% } %>
              </tbody>
            </table>       
          </div>
        </div>   
<% include ../footer.html %>