<% include ../header.html %>
<style type="text/css">
td{
  text-align: left;
}
</style>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">分期管理&nbsp;>&nbsp;分期列表&nbsp;>&nbsp;分期详情</h4>
          <div class="row placeholders" style="text-align:left">
            <a href="/episode/edit?id=<%-episode.id %>" class="btn btn-primary">编辑</a>
            <a href="#" class="btn btn-danger">删除分期</a>
          </div>
          <div class="row placeholders">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th class="col-sm-3">分期名称：</th>
                  <td><%- episode.name %></td>
                </tr>
                <tr>
                  <th>分期编号：</th>
                  <td><%- episode.number %></td>
                </tr>
                <tr>
                  <th>所属节目：</th>
                  <td><%- episode.program.name %></td>
                </tr>
                <tr>
                  <th>开始时间：</th>
                  <td><%- episode.startTime %></td>
                </tr>
                <tr>
                  <th>结束时间：</th>
                  <td><%- episode.endTime %></td>
                </tr>
                <tr>
                  <th>本期选手：</th><td></td>
                </tr>
                <tr>
                  <th>本期道具：</th><td></td>
                </tr>
                <tr>
                  <th>本期礼物：</th><td></td>
                </tr>
                <tr>
                  <th>冠名信息：</th><td></td>
                </tr>                                            
              </tbody>
            </table>       
          </div>
        </div>   
<% include ../footer.html %>